*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}
ul li{
    width: 350px;
    height: 70px;
    margin: 15px;
    border-radius: 15px;
    font-size: 25px;
    line-height: 70px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
}
ul li a{
    color: white;
    font-family: sans-serif;
}
ul li:nth-child(odd){
    background: linear-gradient(to right, pink, crimson);
    text-align: left;
    padding-left: 20px;
    transform: perspective(500px) rotateY(45deg);
}
ul li:nth-child(even){
    background: linear-gradient(to right, crimson, pink);
    text-align: right;
    padding-right: 20px;
    transform: perspective(500px) rotateY(-45deg);
}
ul li:nth-child(odd):hover{
    transform: perspective(200px) rotateY(45deg);
    padding-left: 10px;
}
ul li:nth-child(even):hover{
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 10px;
}